In [133]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [134]:
url = 'https://cnnespanol.cnn.com/2019/06/18/los-13-tsunamis-mas-mortales-de-la-historia/'
page = requests.get(url)
soup = BeautifulSoup(page.content, 'html.parser')

columna = soup.select('body > div.normalizecss.template--20 > article > div > div > div > div > div')
fechas = []
fechas1 = []
for i in columna:
    parrafo = i.select('p')
    fechas.append(parrafo)  
for i in range(5,18):
    fechas1.append(fechas[0][i].text.split("—"))

In [135]:
fechas1

[['1 de noviembre de 1755 ',
  ' Se estima que 60.000 personas murieron cuando un terremoto golpea a Lisboa, Portugal, y causa un tsunami.'],
 ['27 de agosto de 1883 ',
  ' Se estima que 36.000 personas murieron cuando el volcán Krakatau entró en erupción causando un tsunami en las islas indonesias de Java y Sumatra.'],
 ['15 de junio de 1896 ',
  ' Se estima que 28.000 personas murieron cuando un terremoto de magnitud 8,5 golpeó Sanriku, Japón, causando un devastador tsunami.'],
 ['28 de diciembre de 1908 ',
  ' Se estima que entre 70.000 y 100.000 personas murieron cuando un terremoto de magnitud 7,2 golpea Messina, Italia, y causa un tsunami en el Estrecho de Messina.'],
 ['22 de mayo de 1960 ',
  ' Aproximadamente 1.500 personas murieron cuando un terremoto de magnitud 9,5 golpeó Chile y causó un tsunami.'],
 ['28 de marzo de 1964 ',
  ' Se estima que 128 personas murieron cuando un terremoto de magnitud 9,2 golpeó Prince William Sound, Alaska, y causó un tsunami.'],
 ['16 de agosto de 1976 ',
  ' Se estima que entre 4.000 y 8.000 personas mueren cuando un terremoto de magnitud 8,0 golpeó a Filipinas y causó un tsunami.'],
 ['17 de julio de 1998 ',
  ' Aproximadamente 2.200 personas murieron cuando un terremoto de magnitud 7,0 golpeó Papua Nueva Guinea y causó un tsunami.'],
 ['26 de diciembre de 2004 ',
  ' Se estima que 227.898 personas murieron cuando un terremoto de magnitud 9,1 azotó Sumatra, Indonesia, y provocó un tsunami posterior en 14 países en el sur de Asia y África oriental.'],
 ['25 de octubre de 2010 ',
  ' Se estima que 449 personas murieron cuando un terremoto de magnitud 7,7 azotó a Indonesia y causó un tsunami.'],
 ['11 de marzo de 2011 ',
  ' Se produjo un terremoto de magnitud 9,1 a 371 kilómetros al noreste de Tokio. El terremoto causó un tsunami con olas de nueve metros que dañaron varios reactores nucleares en el área. El total combinado de muertes confirmadas y desaparecidas es de más de 22.000 (casi 20.000 muertes y 2.500 desaparecidos). (Fuente: Agencia de Manejo de Desastres y Fuego de Japón)'],
 ['28 de septiembre de 2018 ',
  ' Más de 2.100 personas murieron cuando un terremoto de magnitud 7,5 golpea la isla indonesia de Sulawesi y causó un tsunami.'],
 ['22 de diciembre de 2018 ',
  ' Un tsunami con olas de hasta tres metros golpea Pandeglang, Serang y el sur de Lampung, Indonesia, dejando más de 430 muertos, 148 desaparecidos y 16.000 desplazados. Los funcionarios creen que el tsunami fue causado por una serie de deslizamientos de tierra bajo el agua provocados por una erupción volcánica.\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\n\t\nTsunami\n\n\n\n\n\n\n\n\n']]

In [136]:
d = {}

for i in range(0,len(fechas1)):
    d[fechas1[i][0]]=fechas1[i][1]


d



#miLista= [element.split('=') for element in miLista]
#miDiccionario = dict((key,value) for key,value in miLista )

{'1 de noviembre de 1755 ': ' Se estima que 60.000 personas murieron cuando un terremoto golpea a Lisboa, Portugal, y causa un tsunami.',
 '27 de agosto de 1883 ': ' Se estima que 36.000 personas murieron cuando el volcán Krakatau entró en erupción causando un tsunami en las islas indonesias de Java y Sumatra.',
 '15 de junio de 1896 ': ' Se estima que 28.000 personas murieron cuando un terremoto de magnitud 8,5 golpeó Sanriku, Japón, causando un devastador tsunami.',
 '28 de diciembre de 1908 ': ' Se estima que entre 70.000 y 100.000 personas murieron cuando un terremoto de magnitud 7,2 golpea Messina, Italia, y causa un tsunami en el Estrecho de Messina.',
 '22 de mayo de 1960 ': ' Aproximadamente 1.500 personas murieron cuando un terremoto de magnitud 9,5 golpeó Chile y causó un tsunami.',
 '28 de marzo de 1964 ': ' Se estima que 128 personas murieron cuando un terremoto de magnitud 9,2 golpeó Prince William Sound, Alaska, y causó un tsunami.',
 '16 de agosto de 1976 ': ' Se estima que entre 4.000 y 8.000 personas mueren cuando un terremoto de magnitud 8,0 golpeó a Filipinas y causó un tsunami.',
 '17 de julio de 1998 ': ' Aproximadamente 2.200 personas murieron cuando un terremoto de magnitud 7,0 golpeó Papua Nueva Guinea y causó un tsunami.',
 '26 de diciembre de 2004 ': ' Se estima que 227.898 personas murieron cuando un terremoto de magnitud 9,1 azotó Sumatra, Indonesia, y provocó un tsunami posterior en 14 países en el sur de Asia y África oriental.',
 '25 de octubre de 2010 ': ' Se estima que 449 personas murieron cuando un terremoto de magnitud 7,7 azotó a Indonesia y causó un tsunami.',
 '11 de marzo de 2011 ': ' Se produjo un terremoto de magnitud 9,1 a 371 kilómetros al noreste de Tokio. El terremoto causó un tsunami con olas de nueve metros que dañaron varios reactores nucleares en el área. El total combinado de muertes confirmadas y desaparecidas es de más de 22.000 (casi 20.000 muertes y 2.500 desaparecidos). (Fuente: Agencia de Manejo de Desastres y Fuego de Japón)',
 '28 de septiembre de 2018 ': ' Más de 2.100 personas murieron cuando un terremoto de magnitud 7,5 golpea la isla indonesia de Sulawesi y causó un tsunami.',
 '22 de diciembre de 2018 ': ' Un tsunami con olas de hasta tres metros golpea Pandeglang, Serang y el sur de Lampung, Indonesia, dejando más de 430 muertos, 148 desaparecidos y 16.000 desplazados. Los funcionarios creen que el tsunami fue causado por una serie de deslizamientos de tierra bajo el agua provocados por una erupción volcánica.\n\t\t\t\t\t\t\t\t\t\n\t\t\t\t\t\t\t\t\t\n\t\nTsunami\n\n\n\n\n\n\n\n\n'}

In [137]:



#fechas = [element.split(',') for element in fechas]
#miDiccionario = dict((key,value) for key,value in fechas )
#miDiccionario

In [143]:
#df = pd.DataFrame({'fecha' : fechas1[0], 'Descripción' : fechas1[1]}
import pandas as pd
df = pd.DataFrame([[key, d[key]] for key in d.keys()], columns=['Fechas', 'Descripción'])
df

,Fechas,Descripción
0,1 de noviembre de 1755,Se estima que 60.000 personas murieron cuando...
1,27 de agosto de 1883,Se estima que 36.000 personas murieron cuando...
2,15 de junio de 1896,Se estima que 28.000 personas murieron cuando...
3,28 de diciembre de 1908,Se estima que entre 70.000 y 100.000 personas...
4,22 de mayo de 1960,Aproximadamente 1.500 personas murieron cuand...
5,28 de marzo de 1964,Se estima que 128 personas murieron cuando un...
6,16 de agosto de 1976,Se estima que entre 4.000 y 8.000 personas mu...
7,17 de julio de 1998,Aproximadamente 2.200 personas murieron cuand...
8,26 de diciembre de 2004,Se estima que 227.898 personas murieron cuand...
9,25 de octubre de 2010,Se estima que 449 personas murieron cuando un...
10,11 de marzo de 2011,"Se produjo un terremoto de magnitud 9,1 a 371..."
11,28 de septiembre de 2018,Más de 2.100 personas murieron cuando un terr...
12,22 de diciembre de 2018,Un tsunami con olas de hasta tres metros golp...

In [ ]:
def top(df):
    for n in df: